@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* background: rgb(42, 244, 172); */
  background: linear-gradient(
    180deg,
    rgba(255,255,255, 1) 0%,
    rgba(211, 160, 220, 0.77) 21%,
    rgba(255, 255, 255, 0.7637648809523809) 100%
  );
  color: rgb(24, 55, 82);
}

dialog {
  max-width: 100vw;
  max-height: 100vh;
}
